    <a href="/"><img class="logo" src="images/logo-48px.png" alt="logo"></a>
    <nav>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/grooming">Grooming</a></li>
            <li><a href="/boarding">Boarding</a></li>
            <li><a href="/training">Training</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/booking">Booking</a></li>
        </ul>
    </nav>
    <a class="cta" href="#"><button>Contact</button></a>