<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <title>Grooming</title>
    <link rel="stylesheet" href="styles/site.css">
</head>
<body>
    <header>
        <a href="/"><img class="logo" src="images/logo-48px.png" alt="logo"></a>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
        <a class="cta" href="#"><button>Contact</button></a>
    </header>
    <h1>Grooming</h1>
</body>
</html>