<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <title>Pets-R-Us</title>
    <link rel="stylesheet" href="styles/site.css">
</head>
<body>
    <header>
        <a href="/"><img class="logo" src="images/logo-48px.png" alt="logo"></a>
        <nav>
            <ul class="nav-links">
                <li><a href="/grooming">Grooming</a></li>
            </ul>
        </nav>
        <a class="cta" href="#"><button>Contact</button></a>
    </header>
    <div id="splash-bkgrd">
        <h1 id="pg-title">Pets-R-Us</h1>
    </div>
    <div class="container">
        <div id="locations">
            <h2>Locations</h2>
            <ol>
                <li>Chicago</li>
                <li>Los Angeles</li>
                <li>Tampa Bay</li>
                <li>Seattle</li>
                <li>Austin</li>
            </ol>
        </div>
        <div id="loc-hours">

        </div>
        <div id="dog-of-week">

        </div>
        <div id="testimonials">

        </div>
        <div id="contact">
            <form>
                <div class="fieldName">
                    <label for="name" class="label">Your name</label>
                    <div class="input-name">
                        <input type="text" id="name" name="name" required>
                    </div>
                </div>
        
                <div class="fieldEmail">
                    <label for="email" class="label">Your email address</label>
                    <div class="input-email">
                        <input type="email" id="email" name="email" required>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>