<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/site.css">

    <title>Pets-R-Us Training</title>
</head>

<body>
    <header>
        <%- include('./layouts/_header') %>
    </header>

    <h1 class="pg-title">Training</h1>
    <div class="container">
        <h2>Options</h2>
        <ul>
            <li>Dog $155 per session</li>
            <li>Cat $75 per session</li>
        </ul>
    </div>

    <footer>
        <%- include('./layouts/_footer') %>
    </footer>

</body>
</html>